@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#content{
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 20px;
}

nav{
    width: 100%;
    height: 50px;
    background-color:  mediumpurple;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-size: 25px;
}

.card{
    width: 100%;
    height: 100%;
    background-image: url('./images/thumb-1920-606500.jpg');
    background-size: cover;
    display: block;
}
#icon1{
    width: 40px;
    height: 40px;
}

#icon2{
    width: 40px;
    height: 40px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#mouse-808{
    width: 30px;
}
h1{
    font-size: 40px;
    color: rgb(17, 53, 255);
}
h2{
    font-size: 40px;
    color: yellow;
}
h3{
    font-size: 40px;
    color: orange;
}