body{
    background-image: url('./images/thumb-1920-606500.jpg');
    color: white;
    font-family: Arial;
    background-repeat: no-repeat;
    background-size: 2300px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
a{
    font-size: 20px;
}
#mouse-808{
    width: 30px;
}
h1{
    font-size: 40px;
    color: rgb(17, 53, 255);
}
h2{
    font-size: 40px;
    color: yellow;
}
h3{
    font-size: 40px;
    color: orange;
}
.gitt{
    width: 100px;
    
}